body {
	overflow: hidden;
	background: #3d3d3d;
}
#resume-container {
	height: 700px;
}
#download {
	display: none;
}

@media only screen and (max-device-width: 480px) {
	#download {
		display: block;
		color: #fff !important;
		font-size: 18px;
	}
	#download a {
		color: #fff !important;
	}
}